*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
}
body{
    height: 100%;
    width: 100%;
    background-color: #1b263b;
}
.container{
    padding: 1rem;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    min-width: 50%;
    min-height: 25%;
    background-color: #415a77;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1{
    color:#112241 ;
    width: 100%;
    text-align: center;
}
.lower{
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
.lower input{
    font-size: 1rem;
    background-color: #e0e1dd;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 2rem;
    width: 80%;
}
.lower button{
    font-size: 1rem;
    background-color: #e0e1dd;
    padding: 5px;
    height: 3vh;
    width: 10vw;
    outline: none;
    border: none;
    border-radius: 5px;
}
.show{
    transition: all linear 0.5s;
    margin-top:10% ;
    width: 10rem;
    height: 10rem;
}
.lower button:hover{
    background-color: black;
    color: white;
}